<h1>Book a Flight</h1>

<%= form_with scope: :search, method: :get do |form| %>
  <div class="field">
    <%= form.label :departure_date, 'Departure date:' %>
    <%= form.date_select :departure_date,
                         start_year: @start_year,
                         end_year: @end_year,
                         selected: @search_params[:departure_date],
                         order: %i[month day year],
                         prompt: true %>
  </div>
  <div class="field">
    <%= form.label :departure_airport_id, 'Departure airport:' %>
    <%= form.collection_select :departure_airport_id, 
                               @airport_options, :id, :name_code_display,
                               selected: @search_params[:departure_airport_id],
                               include_blank: 'All Airports' %>
  </div>
  <div class="field">
    <%= form.label :arrival_airport_id, 'Arrival airport:' %>
    <%= form.collection_select :arrival_airport_id, 
                               @airport_options, :id, :name_code_display,
                               selected: @search_params[:arrival_airport_id],
                               include_blank: 'All Airports' %>
  </div>
  <div class="field">
    <%= form.label :number_of_passengers, 'Number of passengers:' %>
    <%= form.select :number_of_passengers, 
        options_for_select(('1'..'4'), @search_params[:number_of_passengers]) %>
  </div>
  <%= form.submit 'Search' %>
<% end %>

<% if @all_flights %>
  <% if @all_flights.empty? %>
    <p>Sorry, no flights matched your search.</p>
  <% else %>
    <% @page_flights.each do |flight| %>
      <div class="flight">
        <%= render 'shared/flight_details', flight: flight %>
        <div class="flight-selection">
          <%= link_to 'Book This Flight', new_booking_path(flight_id: flight.id, 
                                                           number_of_passengers: @search_params[:number_of_passengers]) %>
        </div>
      </div>
    <% end %>
    <div class="pagination-links">
      <h4 class="label">Page:</h4>
      <%= link_to '<', flights_path(page: [@page - 1, 1].max, search: @search_params) %>
      <% ([1, @page - 10].max..[@page + 10, max_page = (@all_flights.size / 10.0).ceil].min).each do |page_num| %>
        <%= link_to "#{page_num}", flights_path(page: page_num, search: @search_params), 
                                   class: ('curr_page' if page_num == @page) %>
      <% end %>
      <%= link_to '>', flights_path(page: [@page + 1, max_page].min, search: @search_params) %>
    </div>
  <% end %>
<% end %>
