<%= simple_form_for @booking do |form| %>
  <%= form.input :flight_id, as: :hidden %>
  <div class="flight-identifier">
    <h4 class="label">Flight Number:</h4>
    <%= @flight.identifier %>
  </div>
  <div class="flight-date">
    <h4 class="label">Date of Flight:</h4>
    <%= @flight.departure_time.strftime('%B %-d, %Y') %>
  </div>
  <div class="flight-departure-airport">
    <h4 class="label">Departure From:</h4>
    <%= @flight.departure_airport.name_code_display %>
  </div>
  <div class="flight-arrival-airport">
    <h4 class="label">Arrival At:</h4>
    <%= @flight.arrival_airport.name_code_display %>
  </div>

  <div class="passengers">
    <h4>Passenger Information</h4>
    <%= form.fields_for :passengers do |passenger_form| %>
      <h5>Passenger # <%= passenger_form.index + 1 %></h5>
      <div class="passenger">
        <%= passenger_form.input :first_name %>
        <%= passenger_form.input :middle_name %>
        <%= passenger_form.input :last_name %>
        <%= passenger_form.input :date_of_birth, order: %i[month day year], html5: true %>
        <%= passenger_form.input :email, label: 'Email address' %>
      </div>
    <% end %>
  </div>

  <%= form.submit 'Book Flight' %>
<% end %>
