<h2>You have successfully booked your flight!</h2>
<%= link_to 'Book Another Flight', flights_path %>
<%= render 'shared/flight_details', flight: @booking.flight %>

<div class="passengers">
  <h4>Passenger Information</h4>
  <% @booking.passengers.each.with_index(1) do |passenger, i| %>
    <h5>Passenger # <%= i %></h5>
    <div class="passenger">
      <div class="name">
        <h4>Name:</h4>
        <%= %i[first_name middle_name last_name]
              .map { |attribute| passenger[attribute] }
              .join(' ') %>
      </div>
      <div class="date-of-birth">
        <h4>Date of birth:</h4>
        <%= passenger.date_of_birth.strftime('%m/%d/%Y') %>
      </div>
      <div class="email">
        <h4>Email address:</h4>
        <%= passenger.email %>
      </div>
    </div>
  <% end %>
</div>
