<div class="flight-airline-identifier">
  <h4 class="label">Flight (Airline & Number):</h4>
  <%= "#{flight.airline.name} #{flight.identifier}" %>
</div>
<div class="departure-time">
  <h4 class="label">Departure Time:</h4>
  <%= flight.departure_time.strftime('%B %-d, %Y at %-l:%M %p') %>
</div>
<div class="arrival-time">
  <h4 class="label">Arrival Time:</h4>
  <%= flight.arrival_time.strftime('%B %-d, %Y at %-l:%M %p') %>
</div>
<div class="flight-departure-airport">
  <h4 class="label">Departure From:</h4>
  <%= flight.departure_airport.name_code_display %>
</div>
<div class="flight-arrival-airport">
  <h4 class="label">Arrival At:</h4>
  <%= flight.arrival_airport.name_code_display %>
</div>
